*.tf filter=lfs diff=lfs merge=lfs -text
main.tf !filter !diff
.terraform/providers/registry.terraform.io/hashicorp/google/5.24.0/linux_amd64/terraform-provider-google_v5.24.0_x5 filter=lfs diff=lfs merge=lfs -text
.terraform/providers/registry.terraform.io/hashicorp/aws/5.41.0/linux_amd64/terraform-provider-aws_v5.41.0_x5 filter=lfs diff=lfs merge=lfs -text

